</div>
	<ul>
		<li><%= link_to 'Home',  root_path %></li>
		<li><%= link_to 'Products',  products_path %></li>
		<li><%= link_to 'Category',  'admin/contacts/1/edit' %></li>
		<li><%= link_to 'Brand',  'admin/contacts/1/edit' %></li>
		<li><%= link_to 'Contact Us',  contact_us_path %></li>
		<li><%= link_to 'About Us',  about_us_path %></li>
	</ul>
</div>

<hr>