<section>
<h3>Products</h3>
<div id = "products">
	
<% @products.each do |product| %>

	<p>
	<strong><%= link_to product.name, product%></strong>
	</p>
    <% if product.image.present? %>
      <p>
        <%= image_tag product.image.url(:thumb) %>
      </p>
    <% end %>
	<p><%= product.description %></p>
    <p><strong>Category:</strong> <%= product.category.name %></p>
    <p><strong>Brand:</strong> <%= product.brand.name %></p>
    <p>
		<strong>Stocks Remaining: </strong>
		<%= number_to_human product.quantity %>
		</p>
    <p><strong>Price:</strong> <%= number_to_currency product.price%></p>
	<% if product.onsale_price.present? %>
	<p id="sale_price"><strong>Sale Price:</strong> <%= number_to_currency product.onsale_price%></p>
	<% end %>
<hr>
<% end %>
<%= paginate @products %>
</div>	
</section>


