<section id="summary">
  <h4>Order Summary</h4>
  
  <div id="custinfo">
    <h4>Your Personal Information:</h4>
    <p><strong>Name:</strong> <%= @customer.fname %> <%= @customer.lname %></p>    
		<p><strong>Phone number:</strong>  <%= @customer.phone %> </p>  
		<p><strong>Email:</strong>  <%= @customer.email %> </p>  
		<p><strong>Address:</strong>  <%= @customer.address %> </p>  
		<p><strong>City:</strong>  <%= @customer.city %> </p>  
		<p><strong>Province:</strong>  <%= @customer.province.name %> </p> 
		<p><strong>Postal Code:</strong>  <%= @customer.postal_code %> </p> 
  </div>
  
  <div id="order_detail">
    <h4>Order Details:</h4>   
    <strong>Invoice Number:</strong> <%= @order.id %>
    <strong>Status:</strong> <%= @order.status %>  
    <table id="table_order">
      <thead>
        <tr>
          <th><strong>Item</strong></th>
					<th></th>
          <th><strong>Quantity</strong></th>
          <th><strong>Price</strong></th>
          <th><strong>Total</strong></th>
        </tr>
      </thead>
        <% subtotal = 0 %>
        <% grandtotal = 0 %>
        <tbody>    
          <% @items_ordered.each_with_index do |order, i| %>

          <% product = Product.find(session[:items][i]) %>
      
          <tr>        
						<td><%= image_tag product.image.url(:thumb) %></td>
            <td><%= product.name %></td>
            <td><%= order.quantity %></td>            
            <td><%= number_to_currency(order.price) %></td>
            <td><%= number_to_currency(order.price * order.quantity) %></td>
            <% subtotal += (order.price * order.quantity) %>
          </tr>
          
          <%end%>
      </tbody>
        <tfoot>  
					        
          <% gst = @order.gst %>
          <% pst = @order.pst %>
					
          <tr>
            <td colspan="3" ><strong>Subtotal:</strong></td>
            <td><%= number_to_currency(subtotal) %></td>
          </tr>
        <% if gst > 0 then %>
          <tr>
            <td colspan="3"><strong>GST:</strong></td>
            <td><%= number_to_currency(gst) %></td>
          </tr>
        <% end %>
        <% if pst > 0 then %>
          <tr>
            <td colspan="3"><strong>PST:</strong></td>
            <td><%= number_to_currency(pst) %></td>
          </tr>
        <% end %>
          <tr>
            <td colspan="3"><strong>Grand Total:</strong></td>
            <% grandtotal = subtotal + gst + pst %>
            <td><%= number_to_currency(grandtotal) %></td>
          </tr>
        </tfoot>
    </table>
    <%= button_to "Submit Order", order_complete_path, :method => 'get', class: "btn btn-default btn-sm" %>    
		<%= button_to "Cancel", root_path, :method => 'get', class: "btn btn-default btn-sm" %>    
  </div>
</section>