</div>
	<ul>
		<li><%= link_to 'Home',  'admin/contacts/1/edit' %></li>
		<li><%= link_to 'Products',  'admin/contacts/1/edit' %></li>
		<li><%= link_to 'Category',  'admin/contacts/1/edit' %></li>
		<li><%= link_to 'Brand',  'admin/contacts/1/edit' %></li>
		<li><%= link_to 'Contact Us',  'admin/contacts/1/edit' %></li>
		<li><%= link_to 'About Us',  path_about_us %></li>
	</ul>
</div>