<!DOCTYPE html>
<html>
<head>
  <title>KicksAreSick</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<section id="wrapper">
	<%= render 'shared/searchbar' %>
	

	<h1 id="heading">Welcome to Kicks Are Sick</h1>
	
	<%= render 'shared/headnav' %>
	<%= yield %>
</section>

</body>
</html>
