<!DOCTYPE html>
<html>
<head>
  <title>KicksAreSick</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="page-wrap">
	<h1>Welcome to Kicks Are Sick</h1>
	<%= render 'shared/headnav' %>
	<%= yield %>
</div>

</body>
</html>
